<div class="container">
    <h1 style="font-family: 'Jomolhari', serif; font-weight: bold">My Reading List</h1>
    <h2 style="font-family: 'Liu Jian Mao Cao', cursive;">Add a Book</h2>
      <form class="create-form">
        <div class="form-row">
          <div class=" col-xs-2">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
          </div>
          <div class="col-xs-2">
            <label for="firstName">Author first name:</label>
            <input type="text" id="firstName" name="firstName">
          </div>
          <div class="col-xs-2">
            <label for="firstName">Author last name:</label>
            <input type="text" id="lastName" name="lastName">
          </div>      
          <button class="col-xs-2 addBook btn btn-dark" type="submit">Add Book</button>             
        </div>                      
      </form>
    <div class="row">
        <div class="col-6">
            <h2 style="font-family: 'Liu Jian Mao Cao', cursive; font-weight: bold;">Books to Read</h2>
            <ul>              
              {{#each books}}
                {{#unless is_read}}
                  <div class="bookDiv" isRead=false>
                      <span class="title">{{this.title}}</span>
                      <span>by {{this.authorFirstName}} {{authorLastName}}</span><br>
                      <button class="markRead btn btn-light btn-sm" data-id="{{this.bookID}}" data-read=false>Mark as read</button>
                      {{> buttons/deleteBtn data-read=false}}
                  </div>
                {{/unless}}
              {{/each}}
            </ul>            
        </div>
        <div class="col-6">
            <h2 style="font-family: 'Liu Jian Mao Cao', cursive; font-weight: bold">Read</h2>
            <ul>
              {{#each books}}
                {{#if is_read}}
                  <div class="bookDiv" isRead=true>
                      <span class="title">{{this.title}}</span>
                      <span>by {{this.authorFirstName}} {{authorLastName}}</span><br>                        
                      {{> buttons/deleteBtn data-read=true}}                
                  </div>
                {{/if}}
              {{/each}}
            </ul>
        </div>
    </div>
</div>



